.blog-content h4{
    text-align: center;
}
.blog-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.blog-content p{
    font-size: 1.2rem;
}
.blog-wrapper h1{
    text-align: center;
}
.blog-wrapper{
    margin-bottom: 5rem;
}
.blog-img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}