.nav-link{
    color: white;
    font-weight: bold;

}
#navbar{
    padding: 1rem;
}
.navbar-toggler{
    border-color: var(--pink) !important;
    border-width: 2px !important;
    background-color: var(--pink) !important;
}
.menu-toggle.on {
	border-top-color:#ff0;
	border-bottom-color:#ff0
}
.nav-toggle.on:before {
	border-top-color:#ff0;
}