.nav-link{
    color: white;
    font-weight: bold;
    @media only screen and (max-width: 786px) {
        color: var(--pink) !important;
    }
}
#navbar{
    padding: 1rem;
}
.navbar-toggler{
    border-color: var(--pink) !important;
    border-width: 2px !important;
    background-color: var(--pink) !important;
}