.book-wrap{
    color: white !important;
}
.book-wrap>.row>.col>h5{
    font-size: 1.5rem;
}
.book-wrap>.row>.col>h2{
    font-family: var(--hFont);
    font-size: 3rem;
}
.par img{
    filter: brightness(80%) !important;
}
@media only screen and (max-width: 786px) {
    .book-wrap>.row>.col>h5{
        font-size: 1.3rem;
    }
    .book-wrap>.row>.col>h2{
        font-family: var(--hFont);
        font-size: 2rem;
    }
}