.service-snag-wrapper>.header{
    text-align: center;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}
.service-snag-wrapper>.header>h2{
    font-family: var(--hFont);
    font-size: 2.5rem;
}
.service-snag-wrapper>.header>p{
    font-size: 1.2rem;
}