.card> img{
    width: 100% !important;
}
.card-text{
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.1rem;
}
#serviceCard{

}
.card-title{
    text-align: center;
    font-size: 1.7rem !important;
    font-family: var(--hFont);
}
@media only screen and (max-width: 768px) {

}