#chatIcon{
    background-color: #4FCE5D;
    position: fixed;
    top: 20rem !important;
    z-index: 10000;
    border-radius: 50px 0px 0px 50px;
    width: 4rem;
    color: white;
    height: 3rem !important;
    border: none;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
}
@media only screen and (max-width: 768px) {
    #chatIcon{
        background-color: #4FCE5D;
        position: fixed;
        top: 80vh !important;
        right: 0rem !important;
    }
}