.maint{
    margin-top: 1.7rem;
    margin-bottom: 5rem;
}
.maint-header>h2{
    font-family: var(--hFont);
    font-size: 2.5rem;
}
.maint-header>p{
    font-size: 1.2rem;
}
.maint-header{
    margin-bottom: 1.7rem;
    text-align: center;
}
@media only screen and (max-width: 786px) {
    .maint-header>p{
        text-align: justify;
        text-justify: inter-word
    }
    .maint{
        padding: 0.5rem;
    }
  }