.detailr-header{
    text-align: center;
    margin-bottom: 1rem;
    margin-left: -2.5rem !important;
}
.detailr-list img{
    width: 15% !important;
    margin-bottom: 1rem !important;
}
.detailr-list li{
    list-style-type: none;
    text-align: center;
}
#flist li{
    margin-bottom: 0.1rem;
}
.detailr-list{
    padding: 1rem;
    margin-left: -5rem !important;    
}
@media only screen and (max-width: 786px){
    .detailr-list img{
        width: 50% !important;
        margin-bottom: 0rem !important;
    }
    .detailr-list{
        margin-left: -3rem !important;
    }
    .detailr-list li{
        list-style-type: none;
        text-align: center;
        margin-bottom: 2rem !important;
    }
}