.reviews-wrapper{
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.reviews-wrapper>.row>h2{
    font-size: 3rem;
    font-family: var(--hFont);
    text-align: center;
    color: var(--fColor);
}
.reviews-header-description{
    font-size: 1.2rem;
    text-align: center;
    color: var(--fColor);
}
.item-wrapper{
    height: 23rem;
    margin-bottom: 3rem;
    background-color: var(--pink);
    color: white;
    border-left: 1rem solid white !important;
    padding: 1rem 0rem;
}
.client-name{
    font-family: var(--hFont);
    font-size: 1.5rem;
}
.client-company{
    font-size: 1.2rem;
}
.client-comment{
    font-size: 1.1rem;
}
#reviews{
    overflow-x: hidden !important;
}
.divider{
    background-color: white;
    width: 80% !important;
    height: 0.5rem;
    margin-top: 5% !important;
    margin-left: 7%;
    display: none;
}
blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 3em;
    line-height: 0;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
   /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float:right;
    font-size:3em;
    line-height: 1;
    right:1;
    bottom:-0.8em;
    content: "\201D";
}
blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2013";
}
@media only screen and (max-width: 786px) {
    .divider{
        display: none;
    }
    .reviews-wrapper{
        padding: 0.5rem;
    }
    .item-wrapper{
        height: 23rem;
        margin-bottom: 3rem;
        background-color: var(--pink);
        color: white;
        border-left: 1rem solid white !important;
        padding: 1rem 0rem;
    }
    #client-review-h{
        font-size: 2rem;
    }
}
