.resale>.header>h2{
    text-align: center;
    font-family: var(--hFont);
    font-size: 2.2rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.resale img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.resale p{
    font-size: 1.2rem;
}
.resale{
    margin-bottom: 2rem;
    padding: 1rem;
}
@media only screen and (max-width: 1200px){
    .resale img{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
    .resale{
        margin-bottom: 2rem;
        margin-left: 0rem;
    }
}