.inspection-wrapper h2{
    font-family: var(--hFont);
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.inspection-wrapper p{
    font-family: var(--hFont);
    font-size: 1.1rem;
}
.inspection-wrapper{
    margin-bottom: 5rem;
    padding: 0rem 1.5rem;
}
.inspection-snag{
    background-color: var(--pink);
    color: white;
    padding: 1.5rem 2rem !important;
    margin-bottom: 2rem;
}
.inspection-snag>p{
    font-family: var(--bFont);
    text-align: justify;
    word-wrap: break-word;
}
.inspection-snag>h4{
    font-family: var(--hFont);
    text-align: center;
}
.detail-list ul>li{
    list-style-type: none;
    margin-bottom: 1.5rem;
}
#second-list>li{
    margin-bottom: 2rem;
}
.detail-header{
    text-align: center;
    font-family: var(--hFont);
    margin: 2rem 0rem;
}
.detail-list{
    margin-bottom: 2rem;
}
@media only screen and (max-width: 786px){
    .detail-list{
        margin-left: -1rem !important;
        text-align: center;
        padding-right: 2.5rem;
    }
    #second-list>li{
        margin-bottom: 1.5rem;
    }

    .scope-list{
        padding: 1.5rem !important;
    }
    .inspection-wrapper{
        margin-bottom: 5rem;
        padding: 0rem 0rem;
    }
}