.headerh{
    text-align: center;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.headerh>h2{
    font-family: var(--hFont);
    font-size: 2.5rem;
}
.headerh>p{
    font-size: 1.2rem;
}
.snag-props-wrapper{
    margin-bottom: 3rem;
    padding:0rem;
}
.snag-props-image{
    width: 50% !important;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.snag-side>h6{
    font-family: var(--hFont);
    font-size: 1.5rem;
}
.box-content{
    background-color: var(--pink);
    color: white;
    padding: 2.3rem 3rem !important;
    margin-bottom: 2rem !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
}
.box-content>h6{
    font-size: 2rem !important;
    text-align: center;
}
.box-content>p{
    font-size: 1.2rem !important;
    font-family: var(--bFont) !important;
    text-align: justify !important;
    word-wrap: break-word !important;
    word-spacing: -0.3rem !important;
}
.box-ul{
    list-style-type:none;

}
.box-ul>li{
    border-left: 0.3rem solid white;
    margin-bottom: 1rem;
    padding-left: 1rem;
    list-style-type: none !important;
}
.snag-props-list p{
    font-family: var(--hFont);
    font-size: 1.2rem !important;
    text-align: center;
}
.snag-props-list img{
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.snag-props-list{
    margin-bottom: 3rem !important;
}
.snag-props-list ul{
    list-style-type: none;
}
.snag-props-list  ul li::before {
    content: "\2714";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--pink); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
@media only screen and (max-width: 1200px) {
    .snag-props-list{
        margin-bottom: 2rem !important;
    }
    .headerh>p{
        font-size: 1.2rem;
        text-align: justify;
        text-justify: inter-word;
    }
    .headerh>h2{
        font-family: var(--hFont);
        font-size: 2rem;
    }
    ul>li{
        font-size: 1.2rem;
    }
    .snag-props-image{
        width: 100% !important;
        height: 100%;
        display: block;
        margin-left: -1rem;
        margin-right: auto;
        margin-bottom: 2rem;
    }
    .box-content{
        background-color: var(--pink);
        color: white;
        padding: 1.5rem 0.5rem !important;
        margin-bottom: 2rem !important;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
        text-align: justify;
        word-wrap: break-word;
        margin-right: 1rem !important;
    }
    .snag-props-list img{
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}